# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# git
alias a='git add'
alias d='git diff'
alias s='git status --short --branch'
alias g='git graph'

function git-history()
{
    if ! git rev-parse --is-inside-work-tree >/dev/null 2>&1; then
        return 1
    fi
    git log --graph --color --all --date-order --decorate --oneline | fzf \
        --no-sort \
        --reverse \
        --ansi \
        --preview="grep -qE ' [0-9a-f]+' <<<{} && git show --color=always \$(sed 's/^[* |\]*\([0-9a-f]*\).*/\1/' <<<{}) | head -n $((LINES - 2))" \
        --bind="enter:execute(grep -qE ' [0-9a-f]+' <<<{} && git show --color=always \$(sed 's/^[* |\]*\([0-9a-f]*\).*/\1/' <<<{}))"
}

function git-working-tree()
{
    git status --short --branch --untracked-files=all --ignore-submodules=all | fzf \
        --no-sort \
        --reverse \
        --header-lines=1 \
        --ansi \
        --preview="git diff --color=always -- \"\$(sed 's/^...//' <<<{})\" | head -n $((LINES - 2))" \
        --bind="ctrl-s:execute-silent(git add -- \$(sed 's/^...//' <<<{}))" \
        --bind="ctrl-u:execute-silent(git reset -- \$(sed 's/^...//' <<<{}))" \
        --bind="ctrl-r:execute-silent(git checkout HEAD -- \$(sed 's/^...//' <<<{}))" \
        --bind="ctrl-d:execute(git diff --color=always -- \$(sed 's/^...//' <<<{}))" \
        --bind="enter:abort"
}

# docker
function docker-dashboard()
{
    {
        echo 'DOCKER OVERVIEW'
        echo "- $(docker container ls --all | tail -n +2 | wc -l) containers"
        echo "- $(docker image ls | tail -n +2 | wc -l) images"
        echo "- $(docker volume ls | tail -n +2 | wc -l) volumes"
    } | fzf \
        --no-sort \
        --reverse \
        --header-lines=1 \
        --preview="
            case {} in
                *containers) docker container ls --all ;;
                *images)     docker image ls ;;
                *volumes)    docker volume ls ;;
            esac
        " \
        --preview-window=bottom:80% \
        --bind="\
enter:execute(
    case {} in
        *containers) __fzf-docker-container ;;
        *images)     __fzf-docker-image ;;
        *volumes)    __fzf-docker-volume ;;
    esac
)"
}

# grep
alias grep='grep --color=auto'

# less
alias less='less --tabs=4'

# ls
case "$OSTYPE" in
darwin*)
    alias ls='ls -G'
    ;;
linux*|msys)
    alias ls='ls --color'
    ;;
esac

alias l='ls -lF'
alias ll='ls -alF'

# explore
function explore-github()
{
    PWD=$HOME/dev/src explore
}

# ssh
alias ssh-silent='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR'
