# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# git
alias a='git add'
alias d='git diff'
alias s='git status --short --branch'
alias g='git graph'

function git-history()
{
    local _output _query
    while _output=$(
        git graph "$@" \
        | fzf \
            --no-sort \
            --no-mouse \
            --reverse \
            --ansi \
            --query="${_query:-}" \
            --preview="grep -qE ' [0-9a-f]+' <<<{} && git show --color=always \$(sed 's/^[* |\]*\([0-9a-f]*\).*/\1/' <<<{}) | head -n $((LINES - 2))" \
            --print-query \
            --expect=enter)
    do
        _query=$(head -1 <<<"$_output")
        git show --color=always "$(tail -n +3 <<<"$_output" | sed 's/^[* |\]*\([0-9a-f]*\).*/\1/')"
    done
}

function git-working-tree()
{
    local _output
    local _query
    while _output=$(
        git status --short --branch --untracked-files=all --ignore-submodules=all \
        | fzf \
            --no-sort \
            --multi \
            --no-mouse \
            --reverse \
            --header-lines=1 \
            --ansi \
            --preview="git diff --color=always -- \"\$(sed 's/^...//' <<<"{}")\" | head -n $((LINES - 2))" \
            --query="${_query:-}" \
            --print-query \
            --expect=ctrl-s,ctrl-u,ctrl-d,enter)
    do
        _query=$(head -n 1 <<<"$_output")
        _key=$(head -n 2 <<<"$_output" | tail -n 1)
        case "$_key" in
            ctrl-s)
                git add -- $(tail -n +3 <<<"$_output" | sed 's/^...//') >/dev/null
                ;;
            ctrl-u)
                git reset -- $(tail -n +3 <<<"$_output" | sed 's/^...//') >/dev/null
                ;;
            ctrl-d)
                git diff -- $(tail -n +3 <<<"$_output" | sed 's/^...//') | less
                ;;
            enter)
                return
                ;;
        esac
    done
}

# grep
alias grep='grep --color=auto'

# less
alias less='less --tabs=4'

# ls
case "$OSTYPE" in
darwin*)
    alias ls='ls -G'
    ;;
linux*|msys)
    alias ls='ls --color'
    ;;
esac

alias l='ls -lF'
alias ll='ls -alF'

# explore
function explore-github()
{
    PWD=$HOME/dev/src/github.com explore
}
