# cd
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# git
alias a='git add'
alias d='git diff'
alias s='git status --short --branch'
alias g='git graph'

# docker
function docker-dashboard()
{
    {
        echo 'DOCKER OVERVIEW'
        echo "- $(docker container ls --all | tail -n +2 | wc -l) containers"
        echo "- $(docker image ls | tail -n +2 | wc -l) images"
        echo "- $(docker volume ls | tail -n +2 | wc -l) volumes"
    } | fzf \
        --no-sort \
        --reverse \
        --header-lines=1 \
        --preview="
            case {} in
                *containers) docker container ls --all ;;
                *images)     docker image ls ;;
                *volumes)    docker volume ls ;;
            esac
        " \
        --preview-window=bottom:80% \
        --bind="\
enter:execute(
    case {} in
        *containers) __fzf-docker-container ;;
        *images)     __fzf-docker-image ;;
        *volumes)    __fzf-docker-volume ;;
    esac
)"
}

# grep
alias grep='grep --color=auto'

# less
alias less='less --tabs=4'

# ls
case "$OSTYPE" in
darwin*)
    alias ls='ls -G'
    ;;
linux*|msys)
    alias ls='ls --color'
    ;;
esac

alias l='ls -lF'
alias ll='ls -alF'

# explore
function explore-github()
{
    PWD=$HOME/dev/src explore
}

# ssh
alias ssh-silent='ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o LogLevel=ERROR'
